################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.pem
source/build/dist
/.vs
/source/midiapps/.vs/app1/v16/.suo
/source/projects/.vs/app1/v16/.suo
__pycache__/
