################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/midiapps/.vs/app1/v16/.suo
/source/projects/.vs/app1/v16/.suo
/source/common/__pycache__/midi.cpython-37.pyc
